:root {
    --main-blue: #3598dc;
    --darker-blue: #2982bd;
    --input-bg-color: rgb(238, 236, 236);
    --text-grey: grey;
    --main-orange: #ffa931;
}

body {
    margin: 0px;
    height: 100vh;
    background-color: var(--main-blue);
    font-family: 'Noto Sans', sans-serif;
    color: var(--text-grey);
}

#root {
    display: flex;
    width: 100%;
    height: 100vh;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

hr {
    width: 100%;
    background-color: rgb(212, 211, 211);
    height: 2px;
    border-style: none;
}

/* ########### NAVBAR ############# */

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: white;
    box-shadow: 0px 2px 5px -2px rgba(0,0,0,0.75);
    margin-bottom: 2vh;
}

.nav h1 {
    margin: 0px 0px 0px 20vw;
    font-size: 1.75em;
}

.navbar-list {
    list-style: none;
    display: inline-flex;
    margin-right: 20vw;
}

.navbar-list li a {
    text-decoration: none;
    color: var(--main-blue);
    margin-left: 3.5vw;
    transition: 0.3s;
}

.navbar-list li a:hover {
    text-emphasis: bold;
    color: grey;
}

/* STANDARD USER INPUT FORM TO BE USED ACROSS SITE */

.standard-user-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding: 5px;
    width: 20vw;
    border-style: none;
    box-shadow: 0px 0px 2.5px 1px rgb(136, 134, 136);
    margin-bottom: 2.5vh;
}

.standard-input {
    width: 80%;
    margin-bottom: 2vh;
    height: 4.5vh;
    border-style: none;
    background-color: var(--input-bg-color);
    font-size: 0.6em;
    padding: 0px;
    text-indent: 5px;
}

.standard-input:focus {
    outline: none;
}

.standard-button {
    background-color: var(--main-blue);
    color: white;
    border-style: none;
    font-size: 0.8em;
    height: 4.5vh;
    padding: 5px 0px 5px 0px;
    width: 80%;
    transition: 0.3s;
    margin-bottom: 2vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.standard-button:hover {
    background-color: var(--darker-blue);
}

.standard-user-form a {
    font-size: 0.65em;
    color: var(--text-grey);
    text-decoration: none;
    margin-bottom: 20px;
}

.standard-user-form a:hover {
    text-decoration: underline;
}

/* ######### Register Text + Links ######## */

.register-text {
    font-size: 0.55em;
    color: white;
}

.register-link {
    color: white;
}

.register-link:hover {
    text-decoration: none;
}

/* ########### ADD RECIPE ############# */

.add-recipe-title {
    color: var(--main-blue);
}

.ingredients-list {
    list-style: none;
    font-size: 0.65em;
    display: flex;
    flex-direction: row;
    margin: 1vh 0px 1vh 0px;
    padding: 0px;
    flex-wrap: wrap;
}

.methods-list {
    list-style: none;
    font-size: 0.65em;
    display: flex;
    flex-direction: column;
    margin: 1vh 0px 1vh 0px;
    padding: 0px;
    flex-wrap: wrap;
}

.add-ingredient-container {
    display: flex;
    flex-direction: row;
    width: 80%;
}

.add-method-container {
    display: flex;
    flex-direction: row;
    width: 80%;
}

.ingredients-list li {
    margin-left: 1vw;
    margin-right: 1vw;
}

.method-para {
    max-width: 100%;
}

.add-ingredient-btn {
    font-size: 0.5em;
}

.new-recipe-title {
    color: var(--main-orange);
    margin-top: 0px;
    margin-bottom: 0px;
}


/* ########### ADD CATEGORY ############# */

.category-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin: 2vh 0px 0px 0px;
    padding: 0px;
    width: 15vw;
    list-style: none;
}

.category-add-form {
    display: flex;
}

.category-add-form:focus {
    outline: none;
}

.category-item {
    background-color: var(--main-orange);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    padding: 0px 5px 0px 5px;
    font-size: 0.8em;
    width: 50%;
    margin-bottom: 1vh;
}

.category-item span {
    color: red;
    font-size: 0.8em;
    margin-left: 0.5vw;
    margin-right: 0.25vw;
    border-left: 1px solid var(--main-blue);
    padding-left: 4px;
    align-self: stretch;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* #### Generic styling attributes #### */

.standard-width {
    width: 60%;
}

.row {
    flex-direction: row;
}

.center-content {
    justify-content: center;
    align-items: center;
}

.centered {
    margin: auto;
}
.orange-bg {
    background-color: var(--main-orange);
}

.space-between {
    justify-content: space-between;
}


